<div class="triangle">
  <div class="part">
    <div class="plane">
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="static">
        <div class="cube">
          <div class="face x"></div>
          <div class="face y"></div>
          <div class="face z"></div>
        </div>
        <div class="cube">
          <div class="face x"></div>
          <div class="face y"></div>
          <div class="face z"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="part">
    <div class="plane">
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="cube">
        <div class="face x"></div>
        <div class="face y"></div>
        <div class="face z"></div>
      </div>
      <div class="static">
        <div class="cube">
          <div class="face x"></div>
          <div class="face y"></div>
          <div class="face z"></div>
        </div>
      </div>
    </div>
  </div>
</div>