<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{{ SEO.generate()|raw }}
</head>
<body>
	{% include 'layouts.partials.js_vars' %}
	<script>
	console.log(TESTERS)
	</script>
</body>
</html>