.row {
	@include clearfix();
	margin-left: -$gutter;
	> * {
		display: block;
		float: left;
		width: 100%;
		padding-left: $gutter;
	}
	&.reverse {
		> * {
			float: right;
		}
	}
	&.zero {
		margin-left: 0;
		> * {
			padding-left: 0;
		}
	}
	&.large {
		margin-left: -$gutter*3;
		> * {
			padding-left: $gutter*3;
		}
	}
	&.medium {
		margin-left: -$gutter*2;
		> * {
			padding-left: $gutter*2;
		}
	}
	&.small {
		margin-left: -$gutter-sm;
		> * {
			padding-left: $gutter-sm;
		}
	}
}

@for $i from 1 through $cols {
	.s#{$i}-#{$cols} {
		width: percentage($i/$cols);
	}
	.offset-#{$i}-#{$cols} {
		margin-left: percentage($i/$cols);
	}
	.sauto {
		width: auto;
	}
	.s#{$i} {
		width: percentage($i/$cols);
	}
	.offset-#{$i} {
		margin-left: percentage($i/$cols);
	}
	@for $j from 1 through $i {
		.s#{$j}-#{$i} {
			width: percentage($j/$i);
		}
		.offset-#{$j}-#{$i} {
			margin-left: percentage($j/$i);
		}
	}
}

@each $bp in $bps {
	$name: nth($bp, 1);
	$size: nth($bp, 2);
	@include breakpoint($size) {
		*.#{$name}auto {
			width: auto;
		}
		*.#{$name}-push0 {
			margin-left: 0;
		}
		@for $i from 1 through $cols {
			*.#{$name}#{$i} {
				width: percentage($i/$cols);
			}
			*.#{$name}#{$i}-#{$cols} {
				width: percentage($i/$cols);
			}
			*.#{$name}-push#{$i} {
				margin-left: percentage($i/$cols);
			}
			*.#{$name}-push#{$i}-#{$cols} {
				margin-left: percentage($i/$cols);
			}
			@for $j from 1 through $i {
				*.#{$name}#{$j}-#{$i} {
					width: percentage($j/$i);
				}
				*.#{$name}-push#{$j}-#{$i} {
					margin-left: percentage($j/$i);
				}
			}
		}
	}
}

