.input-select {
	cursor: pointer;
	padding-top: $unit;
	margin-bottom: $unit/2;
	width: 100%;
	label {
		position: absolute;
		color: mix($dark, $grey, 30%);
		top: 0;
		margin-top: $unit/2;
		z-index: 10;
		left: 0;
		@include font-size(.8);
		transition: all $anim $ease;
	}
	.placeholder {
		padding: $unit*.6 0 $unit*.4;
		// position: absolute;
		margin-top: -$unit*2;
		bottom: 0;
		display: block;
		color: $grey;
		left: 0;
	}
}