body {
	margin: 0;
}
* {
	position  : relative;
	box-sizing: border-box;
	outline   : none !important;
}
@import 'normalize';

// DEPENDENCIES
@import 'lib';
// TYPOGRAPHY
@import 'imports/typography/typography.base';
// LAYOUT
@import 'imports/layout/layout.container';
@import 'imports/layout/layout.columns';
@import 'imports/layout/layout.wells';
// BUTTONS
@import 'imports/buttons/buttons.base';
@import 'imports/buttons/buttons.groups';
// INPUTS
@import 'imports/inputs/input.base';
@import 'imports/inputs/input.checkbox';
@import 'imports/inputs/input.text';
@import 'imports/inputs/input.dropdown';
@import 'imports/inputs/input.file';
@import 'imports/inputs/input.autocomplete';
// COMPONENT
@import 'imports/components/component.list';
@import 'imports/components/component.tooltip';
@import 'imports/components/component.modal';
@import 'imports/components/component.appbar';
@import 'imports/components/component.table';
@import 'imports/components/component.flash';
@import 'imports/components/component.loader';
@import 'imports/components/component.pagination';
// PLUGINS
@import 'plugins/plugin.fixedsticky';
@import 'plugins/plugin.slick';
@import 'plugins/plugin.rome';
@import 'plugins/plugin.quill';
@import 'plugins/plugin.nouislider';
// DEBUG
@import 'imports/DEBUG';
// MODIFIERS
@import 'imports/modifiers/modifier.color';
@import 'imports/modifiers/modifier.raise';
@import 'imports/modifiers/modifier.position';
@import 'imports/modifiers/modifier.typography';
@import 'imports/modifiers/modifier.visibility';
@import 'imports/modifiers/modifier.stroke';

// CUSTOM
@import 'custom';