.input-file {
	margin-top: 0;
	input {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
		top: 0;
		left: 0;
	}
	label {
		display: block;
		padding: $unit/2 $unit;
		border-radius: $br;
		@include font-size(1);
		cursor: pointer;
		background: $grey;
		margin: 0;
	}
}