html.drawer-open {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.drawer-btn {
	cursor: pointer;
}

.drawer-bg,
.drawer-container {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.drawer-container:after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  width: 1px;
  content: "";
}

.drawer-container:after,
.drawer-vcenter {
  vertical-align: middle;
}

.drawer-title {
	
}

.drawer-vcenter {
	display: inline-block;
	margin: $unit 0;
	text-align: left;
	left: 2px;
	max-width: calc(100% - 5px);
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.drawer-container {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	pointer-events: none;
	z-index: 399;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  -webkit-overflow-scrolling: touch;
	transition: all $anim-fast $ease;
}

.drawer-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(black, .4);
	transition: all $anim-fast $ease;
}

.drawer-content {
	padding: 0 $unit;
	border-radius: $br;
	background: white;
	transition: all $anim-fast $ease;
	transform: translate3d(0,-$unit,1px);
	opacity: 0;
}

.drawer {
	.container {
		@include breakpoint($bp-md) {
			max-width: $bp-md;
		}
	}
}

.drawer-control {
	z-index: 400;
	position: fixed;
	appearance: none;
	opacity: 0;
	width: 1px;
	height: 1px;
	visibility: hidden;
	&:checked {
		~ .drawer-container {
			visibility: visible;
			pointer-events: all;
			.drawer-bg {
				opacity: 1;
			}
			.drawer-content {
				transform: translate3d(0,0,1px);
				opacity: 1;
			}
		}
	}
}